/* Generic */

.pane-group {
    -fx-border-color: -fx-outer-border;
    -fx-border-width: 1;
    -fx-border-radius: 4;
    -fx-padding: 8;
    -fx-hgap: 4;
    -fx-vgap: 4;
    -fx-spacing: 4;
}
.pane-group .label,
.pane-group .check-box {
    -fx-font-weight: bold;
}

.h1 {
    -fx-font-size: 2.5em;
    -fx-font-weight: bold;
}
.h2 {
    -fx-font-size: 2.0em;
    -fx-font-weight: bold;
}
.h3 {
    -fx-font-size: 1.5em;
    -fx-font-weight: bold;
}
.h4 {
    -fx-font-size: 1.25em;
    -fx-font-weight: bold;
}


/* MainView */

#mainView #leftView {
    -fx-border-width: 0 1 0 0;
    -fx-border-color: -fx-box-border;
}

#mainView #listPool .cell {
    -fx-font-size: 1.083333em;
    -fx-font-weight: bold;
}


/* CharPoolView */

.char-pool-view #leftView {
    -fx-border-width: 0 1 0 0;
    -fx-border-color: -fx-box-border;
}

#listChar .cell {
    -fx-font-weight: bold;
}

#viewDate > .label {
    -fx-font-weight: normal;
    -fx-font-style: italic;
}

#viewAppDetail,
#viewAppDetail .viewport {
    -fx-background-color: transparent;
}


/* Progress View */

.progress-view {
    -fx-padding: 8;
}
.progress-view .label {
    -fx-font-size: 1.5em;
    -fx-font-weight: bold;
    -fx-text-fill: -fx-light-text-color;
    -fx-wrap-text: true;
    -fx-background-color: #000000A0;
    -fx-background-radius: 4;
    -fx-padding: 2 8 2 8;
}
.progress-view .progress-indicator {
    -fx-progress-color: #000000A0;
}
.progress-view .progress-indicator .percentage {
    -fx-font-size: 1.5em;
    -fx-font-weight: bold;
}
